body {
  font-family: sans-serif;
  margin: 2rem;
}

#app > div, #app > button {
  margin-top: 1rem;
}

textarea {
  width: 300px;
  height: 80px;
}

#output-log {
  width: 300px;
  height: 200px;
  overflow-y: auto;
  background: #f0f0f0;
  padding: 0.5rem;
  white-space: pre-wrap;
}
